.wd-avatar > img {
    border-radius: 24px;
}
.wd-handle-name {
    font-weight: bold;
}
.wd-post .wd-post-heading .wd-handle-name span .fa-check {
    color: rgb(33,33,33);
}
.wd-gray-text {
    color: rgb(100 105 109);
}
.wd-gray-text > a {
    color: rgb(100 105 109);
}
.wd-pt-n4 {
    top: -4px;
}
.wd-post .wd-post-image {
    border-bottom: 1px solid rgb(48,51,54);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.wd-post-content {
    border-radius: 20px;
    border: 1px solid rgb(48,51,54);
}
.wd-border-bottom {
    border-bottom: 1px solid rgb(48,51,54);
}
.wd-cursor-pointer {
    cursor: pointer;
}
.wd-bottom-curve {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.wd-content .list-group-item-action:focus, .wd-content .list-group-item-action:hover {
    border-color: #131313;
    background-color: #131313;
}